.fly {
  width: 70px;
  height: 70px;
  background-image: url("./fly.jpg");
  background-size: cover;
  border-radius: 50%;
  position: absolute;
}

.invisiblePoint {
  position: absolute;
  top: 400px;
  left: 400px;
}
